@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global Setting */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: rgb(226, 161, 161); */
}

/* HEADER AND FOOTER */
.header,.footer{
  background-color: lightskyblue;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}
.header{
  font-size: 2rem;
}

/* MAIN */
.main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar{
  background: lightskyblue;
  color: white;
  padding: 20px;
  min-width: 300px;
}
.text{
  color: #eee;
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.amount_balaceHolder{
  font-size: 2rem;
}

/* FORM */
.form{
  background-color: #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form p{
  font-size: 1.4rem;
}
/* LABEL AND INPUT */
label,input{
  display: block;
}
input{
  padding: 5px 10px;
}
/* FORM-CONTROL AND RAIDO */
.form-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radio{
  display: flex;
  align-items: center
}

/* BUTTON RESET */
button{
    outline: none;
    border: none;
    background: none;
}
/* button for save to transaction */
.btn{
  display: block;
  width: 100%;
  background-color: lightskyblue;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.btn:hover{
  background-color: rgb(13, 87, 133);
}

  .container {
    width: 100%;
  }
  .sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
  }
  .container input:focus {
    border-color: #587ef4;
  }
  .total-amount-container,
  .user-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  }
  .output-container {
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
  }
  /* Header team check later (dont forget to add centre */
  .input-container {
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
  }
  .input-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
    margin-left: 0.5rem;
  }
  /* end */
  
  .output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
  }
  .submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
    margin-left: 2rem;
  }
  #check-income{
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #43a422;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
    margin-left: 2rem;
  }
  .list {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
  }
  .sublist-content {
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-bottom: 0.6em;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
  }
  /* work with JS for first element */
  .product { 
    font-weight: 500;
    color: #363d55;
  }
  .amount {
    color: #414a67;
    margin-left: 20%;
  }
/* ================== */

  .icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
  }
  .product-title {
    margin-bottom: 1em;
  }
  .hide {
    display: none;
  }
  .error {
    color: #ff465a;
  }
  .edit {
    margin-left: auto;
  }
  .edit,
  .delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
  }
  @media screen and (max-width: 600px) {
    .wrapper {
      font-size: 14px;
    }
    .sub-container {
      grid-template-columns: 1fr;
      gap: 1em;
    }
  }